body{
	font-family: 'Roboto', sans-serif;

}

h1 {
	color: gray;
	font-size: 20px;
	text-align: center;
	font-style: italic;
}


#header{
	text-align: center;
	padding-top: 50px;
}

#main{
	padding-left: 30px;
}

.hidden { display: none; }
.unhidden { display: block; }